@import './variables';
@import './reset';
@import './typography.scss';

$base-margin: 8px;

.ml-1 {
  margin-left: 1 * $base-margin;
}
.ml-2 {
  margin-left: 2 * $base-margin;
}
.ml-3 {
  margin-left: 3 * $base-margin;
}
.ml-4 {
  margin-left: 4 * $base-margin;
}
.ml-5 {
  margin-left: 5 * $base-margin;
}
.mr-1 {
  margin-right: 1 * $base-margin;
}
.mr-2 {
  margin-right: 2 * $base-margin;
}
.mr-3 {
  margin-right: 3 * $base-margin;
}
.mr-4 {
  margin-right: 4 * $base-margin;
}
.mr-5 {
  margin-right: 5 * $base-margin;
}
.mb-1 {
  margin-bottom: 1 * $base-margin;
}
.mb-2 {
  margin-bottom: 2 * $base-margin;
}
.mb-3 {
  margin-bottom: 3 * $base-margin;
}
.mb-4 {
  margin-bottom: 4 * $base-margin;
}
.mb-5 {
  margin-bottom: 5 * $base-margin;
}
.mt-1 {
  margin-top: 1 * $base-margin;
}
.mt-2 {
  margin-top: 2 * $base-margin;
}
.mt-3 {
  margin-top: 3 * $base-margin;
}
.mt-4 {
  margin-top: 4 * $base-margin;
}
.mt-5 {
  margin-top: 5 * $base-margin;
}

.pl-1 {
  padding-left: 1 * $base-margin;
}
.pl-2 {
  padding-left: 2 * $base-margin;
}
.pl-3 {
  padding-left: 3 * $base-margin;
}
.pl-4 {
  padding-left: 4 * $base-margin;
}
.pl-5 {
  padding-left: 5 * $base-margin;
}
.pr-1 {
  padding-right: 1 * $base-margin;
}
.pr-2 {
  padding-right: 2 * $base-margin;
}
.pr-3 {
  padding-right: 3 * $base-margin;
}
.pr-4 {
  padding-right: 4 * $base-margin;
}
.pr-5 {
  padding-right: 5 * $base-margin;
}
.pb-1 {
  padding-bottom: 1 * $base-margin;
}
.pb-2 {
  padding-bottom: 2 * $base-margin;
}
.pb-3 {
  padding-bottom: 3 * $base-margin;
}
.pb-4 {
  padding-bottom: 4 * $base-margin;
}
.pb-5 {
  padding-bottom: 5 * $base-margin;
}
.pt-1 {
  padding-top: 1 * $base-margin;
}
.pt-2 {
  padding-top: 2 * $base-margin;
}
.pt-3 {
  padding-top: 3 * $base-margin;
}
.pt-4 {
  padding-top: 4 * $base-margin;
}
.pt-5 {
  padding-top: 5 * $base-margin;
}

@mixin media-breakpoint($point) {
  @if $point == xs {
    @media only screen and (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $point == s {
    @media only screen and (max-width: $breakpoint-s) {
      @content;
    }
  } @else if($point == m) {
    @media only screen and (max-width: $breakpoint-m) {
      @content;
    }
  } @else if($point == lg) {
    @media only screen and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if($point == xlg) {
    @media only screen and (max-width: $breakpoint-xlg) {
      @content;
    }
  }
}

@mixin grid($template-columns) {
  display: grid;
  grid-template-columns: $template-columns;
  grid-gap: 50px;

  @include media-breakpoint(lg) {
    grid-template-columns: 1fr;
  }
}
