@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900&display=swap');

@import './variables';
@import './reset';

body,
html {
  font-family: 'Fira Sans';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 24px;
}

body {
  height: 100%;
  background-color: darken($oxford, 15%);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 10px 0px;
}

p {
  margin: 5px 0px;
}
