@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');

body,
html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

@mixin heading {
}

h1 {
  @include heading;

  font-size: 2.8em;
  font-weight: 900;
}

h2 {
  @include heading;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: -0.5px;
}
