$breakpoint-xs: 312px;
$breakpoint-s: 480px;
$breakpoint-m: 690px;
$breakpoint-lg: 1000px;
$breakpoint-xlg: 1300px;

$selago: #fafbfe;
$bay-of-many: #2a3b85;
$bluewood: #2c3e50;
$cerulean: #0d96cd;
$yellow-sea: #ffae00;
$lima: #89d417;
$rose: #ff0062;
$electric-violet: #6000ff;
$spindle: #dce9f5;
