$breakpoint-xs: 312px;
$breakpoint-s: 480px;
$breakpoint-m: 690px;
$breakpoint-lg: 1000px;
$breakpoint-xlg: 1300px;

$electric-violet: #6000ff;
$bay-of-many: #2a3b85;
$yellow-sea: #ffae00;
$bluewood: #202e3b;
$cerulean: #0d96cd;
$spindle: #dce9f5;
$back: #e9ebf1;
$selago: #eaecf1;
$lima: #62d417;
$rose: #ff0062;
$oxford: #313b49;
$oxford: rgb(29, 29, 32);
$gray: lighten($oxford, 30%);
$spray: #7EEFCC;
$melrose: #CEB9FE;

$dark: #151E3B;

$a: #144EE0;
$b: #0E2571;
$c: rgb(161, 81, 15);
$d: rgb(233, 120, 27);

$red: #EA6312;
$cyan: #5CDFF1;
$blue: #2D4897;
$oxford: #1F285F;

$red: #EA6312;;
$rose: #ff0062;
$cyan: #5CDFF1;
$blue: #2D4897;
$oxford: #1F285F;
$green: #1dbb37;
